<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="index,follow">
    <meta name="description" content="The Seed Vault Database manages seed collections across global seed vault facilities.">
    <meta name="keywords" content="seed vaults, seed vault database, plant biodiversity">
    <meta name="author" content="devmegan">
    <title>{% block title %}{% endblock %} | SVDB</title>
</head>
<body>
   {% block content%}{% endblock%}
</body>
</html>